.navbar {
    display: flex;
    justify-content: left;
    gap: 24px;
    list-style: none;

}

#test1 {
    border-color: blue;
    background-color: brown;
    display: flex;
    padding: 20 px;
    border-radius: 15px;
    width: 20vh;
    justify-content: center;
    box-sizing: 40vh;
}
input:invalid {
border-color: #C0392B;
}
input:valid {
border-color: #028090;
}